@font-face {
    font-family: "poppinsbold";
    src: url(https://erwing23.github.io/IoTpage/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: "myriad";
    src: url(https://erwing23.github.io/IoTpage/fonts/Myriad-Pro-Regular.ttf);
}
* {
    overflow-x: hidden;
    font-family: "poppinsbold";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---- reset ---- */

body {
    margin: 0;
}

canvas {
    display: block;
}
.wrapper {
    margin-top: 6vh;
    position: relative;
    font-size: 30px;
    font-family: "poppinsbold";
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 90vw;
    z-index: 2;
}
.column {
    float: left;
    width: 60%;
    text-align: left;
}
.left {
    margin-top: 20vh;
}
.column img {
    margin-left: 0px;

    width: auto;
    height: 6rem;
}
#banner {
    float: left;
    width: 40%;
    margin-top: 10vh;
}
.button {
    width: 20rem;
    height: 4rem;
    font-size: 2rem;
    margin: 0;
    line-height: 4rem;
    margin-top: 15px;
    background-color: #f59a21;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    color: whitesmoke;
    font-family: "myriad";
}
@media (max-width: 1200px) {
    #banner {
        display: none;
        position: fixed;
        width: 0%;
    }
    .column {
        float: none;
        text-align: center;
        width: 100%;
        justify-content: center;
    }
    .button {
        margin: auto;
        margin-bottom: 40vh;
    }
}

#banner img {
    height: 700px;
    width: auto;
    margin: auto;
}
h1 {
    color: white;
    font-size: 3.5rem;
    margin-bottom: 3vh;
}

h4 {
    color: gray;
    font-weight: 500;
    margin-bottom: 2vh;
}
a {
    text-decoration: none;
}

.button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    margin-left: 40px;
    margin-top: 15px;
    margin: auto;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);

    text-decoration: none;
}
.button2:hover {
    background-color: orange;

    transition: 0.5s;
}
.button2 a:hover {
    color: white;
    transition: 0.3s;
}

/* Clear floats after the columns */
.wrapper:after {
    content: "";
    display: table;
    clear: both;
}
.stats {
    margin-top: 90vh;
    position: relative;
    background-color: #3821ff;
    width: 100%;
    height: 10vh;
    z-index: 3;
    text-align: center;
}
.stats ol {
    margin-top: 20px;
    position: relative;
    vertical-align: middle;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    border-color: white;
    border-width: 0px 22px 0px 0px;
}
.stats ol il {
    vertical-align: middle;
    margin: 25px;
    padding-right: 80px;
    border-color: white;
    border-style: solid;
    border-width: 0px 0.5px 0px 0px;
}

/* ---- particles.js container ---- */
/*https://github.com/VincentGarreau/particles.js*/
#particles-js {
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: #131921;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
}
/*Flex container*/
.flex-container {
    position: relative;
    display: flex;
    background-color: #ffffff;
    margin-top: 0vh;
    padding: 0 0px 0 0px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
}
.descubre {
    background: linear-gradient(213.54deg, #ebc61d 10.15%, #faa51a 88.66%);
    margin-top: 15vh;
    height: 20vh;
}
.descubre h2 {
    color: white;
    font-size: 4.5rem;
    text-align: center;
    line-height: 20vh;
}
.descubre h5 {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 50px;
}

.flex-container2 {
    display: flex;
    background-color: #ffffff;

    padding: 0 0px 100px 0px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex-item h1 {
    color: black;
    font-size: 3rem;
    padding: 0px;
}
.flex-item p {
    color: black;
    font-size: 1.5rem;
    padding: 0px;
    font-family: "myriad";
}
.flex-item img {
    width: 100%;
}
.flex-item-sec {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    width: 30vw;
    height: 60vh;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
    min-width: 420px;
    max-width: 200px;
    font-size: 20px;
}
.flex-item-sec img {
    width: 138px;
    height: 138px;
    margin: auto;
}
.flex-item-sec h1 {
    color: black;
    font-size: 2rem;
    text-align: center;
}
.flex-item-sec p {
    font-size: 1rem;
    text-align: justify;
}
.flex-item-sec .button {
    margin: auto;
}
.wasap {
    position: fixed;
    z-index: 15;
    bottom: 0%;
}
.wasap img {
    width: 75px;
    height: auto;
}

.flex-item {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    width: 45vw;
    height: 80vh;

    flex-direction: column;
    justify-content: center;

    font-size: 20px;
}

.clientes {
    text-align: center;
    margin-top: 5vh;
}

.clientes ul li {
    display: inline-block;
    margin-top: 12vh;
}
.clientes img {
    width: 200px;
    height: 200px;
    margin: 50px;
}
.timeline {
    position: relative;
    background: linear-gradient(213.54deg, #ebc61d 10.15%, #faa51a 88.66%);
    margin: 25px auto;
    padding: 10px;
    height: 70vh;
    z-index: -1;
}
.como h1 {
    text-align: center;
    color: black;
}

.timeline .center-line {
    position: absolute;
    width: 80%;
    height: 8px;
    background-color: #f6f6f6;
    top: 50%;
    left: 10%;
    z-index: 5;
}
.timeline .back {
    position: absolute;
    font-size: 20rem;
    margin-left: 200px;
    margin-top: 80px;

    color: rgba(189, 129, 18, 0.986);
    transform: rotate(5.25deg);
}
.timeline {
    display: flex;
    justify-content: space-between;
}
.row-1 {
    align-self: flex-start;
}
.row-2 {
    align-self: flex-end;
}

.timeline .row section {
    position: relative;
    background-color: white;
    border-radius: 10px;

    width: 18vw;
    height: 20vh;
    text-align: center;
    padding: 5px;
    margin: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.row {
    overflow: hidden;
    position: relative;
}
.row::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    left: 50%;
    transform: rotate(45deg);
}
.row-1::before {
    bottom: 9px;
}
.row-2::before {
    top: 9px;
}
.iconos {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    top: 45%;
    z-index: 10;
    overflow: hidden;
}
.iconos .iconcon {
    display: flex;
    width: 18vw;
    height: 100px;
    height: 100%;
    overflow: hidden;
    justify-content: center;
}
.iconos .icon {
    margin: auto;

    line-height: 50px;
    text-align: center;
    height: 60px;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
}
.padre {
    overflow: hidden;
    background-color: tomato;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

@media (max-width: 900px) {
    .left {
        margin-top: 0;
    }
    .left h1 {
        font-size: 3rem;
    }

    .flex-container {
        margin-top: 0vh;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .flex-item {
        width: 60vw;
        height: 60vh;
    }
    .flex-item h1 {
        font-size: 2.5rem;
    }
    .descubre {
        height: 40vh;
    }
    .descubre h2 {
        font-size: 4rem;
    }
    .timeline {
        position: relative;
        flex-direction: column;
        height: auto;
        background-color: thistle;
        width: 100%;
        overflow: hidden;
    }
    .row {
        margin-left: 80px;
    }
    .row-1 {
        align-self: flex-start;
    }
    .row-2 {
        align-self: flex-start;
    }

    .timeline .center-line {
        position: absolute;
        height: 100%;
        width: 8px;
        background-color: #000000;
        left: 6%;
        z-index: 5;
        overflow: hidden;
        top: 0;
        margin: auto;
    }
    .timeline .row section {
        position: relative;
        background-color: white;
        border-radius: 10px;

        width: 80vw;
        height: 20vh;
        text-align: center;
        padding: 5px;
        margin: 20px;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    .row-1::before {
        top: 50%;
        left: 10px;
    }
    .row-2::before {
        top: 50%;
        left: 10px;
    }
    .iconos {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        top: 7%;
        z-index: 10;
        overflow: hidden;
    }
    .iconos .iconcon {
        display: flex;
        width: 10vw;

        height: 100%;
        overflow: hidden;
        justify-content: center;
    }
    .iconos .icon {
        margin: auto;

        line-height: 50px;
        text-align: center;
        height: 60px;
        width: auto;
        border-radius: 50%;
        overflow: hidden;
    }
    .padre {
        overflow: hidden;
        background-color: tomato;
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        border-radius: 50%;
    }
    @media (max-width: 425px) {
        .flex-container .flex-item {
            min-width: 80vw;
            text-align: center;
        }
        .descubre {
            margin-top: 0;
            padding: 0 30px;
        }
        .flex-container2 .flex-item-sec {
            min-width: 80vw;
            height: auto;
            text-align: center;
        }
        .button2 {
            margin-top: 25px;
        }
        .padre {
            height: 50px;
            width: 50px;
        }

        .iconos .iconcon {
            width: 18vw;
        }
        .iconcon .icon {
            height: 30px;
        }
        .timeline .center-line {
            left: 10%;
        }
        .row {
            margin-left: 50px;
        }
        .timeline .row section {
            width: 75vw;
        }
    }
}
